// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;



$back: #FEE9C2;
$ananas: #FFD502;
$aubergine: #6A029E;
$olive: black;
$jambon: #F690F5;
$tomate: #FB2929;
$champi: #855200;
$chevre: #BEBEBE;
$salade: #0B8401;
$white: white;