<h1>Tribu</h1>

<div class="d-flex align-items-start">
    <div class="text-center">
        <h2>De côté</h2>
        <div class="main" data-controller="hello">
            <% @tuiles.each do |tuile| %>
                <% attaque = rand(0..2) %>
                <%= render "tuile", tuile: tuile, attaque: attaque, miror: "" %>
            <% end %>
        </div>
    </div>
    <div class="text-center">
        <h2>En jeu</h2>
        <div class="main" data-controller="hello">
            <% [["", "", ""], ["", "", ""]].each do |tuile| %>
                <% attaque = rand(0..2) %>
                <%= render "tuile", tuile: tuile, attaque: attaque, miror: "" %>
            <% end %>
        </div>
    </div>
</div>

<style>
	.square {
		width: 20px;
		height: 30px;
	}
	.attaque {
		position: absolute;
		top: 40%;
		right: 44%;
		font-size: 32px;
        z-index: 100;
	}

    .attaque-toggle {
        top: 20%;
    }

	.squares {
		display:  grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 0px;
		width: 160px;
	}

    .tuile-container {
        position: relative;
        height: 120px;
    }
	
	.main {
        display: grid;
		grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px 0;
        border: 1px solid black;
        width:610px;
        height: auto;
        padding: 50px;
        margin: 50px;
	}

    .rotate-btn {
        position:absolute;
        right:40%;
        bottom:-30px;
    }

    .miror-btn {
        position:absolute;
        right:60%;
        bottom:-30px;
    }

    .miror {
        transform: rotate(180deg);
    }
</style>